service_ops:
  target: snowflake
  outputs:
    snowflake:
      type: snowflake
      account: "{{ env_var('SNOWFLAKE_ACCOUNT') }}"
      user: "{{ env_var('SNOWFLAKE_USER') }}"
      authenticator: "{{ env_var('SNOWFLAKE_AUTHENTICATOR', 'externalbrowser') }}"
      role: "{{ env_var('SNOWFLAKE_ROLE', 'SERVICE_OPS_ANALYST') }}"
      warehouse: "{{ env_var('SNOWFLAKE_WAREHOUSE', 'SERVICE_OPS_XS') }}"
      database: "{{ env_var('SNOWFLAKE_DATABASE', 'SERVICE_OPS') }}"
      schema: "{{ env_var('SNOWFLAKE_SCHEMA', 'ANALYTICS') }}"
      threads: 4
